.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 30px;
}
#logo{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
}

#nav-bar{
    display: flex;
    flex-direction: row;
    margin-top: 9%
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: larger;
}

.res-img{
    width: 295px;
    height: 250px;
}
.res{
    display: inline-table;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    height: auto;
    margin: 10px;
}

.res:hover{
    background-color: aquamarine;
}

.search-bar{
    display: inline;
}

.search-bar>input{
    margin-right: 12px;
}

.filter-btn {
    display: inline;
    margin: 20px;
}

.filter-btn > button{
    cursor: pointer;
}

.search-bar>button{
    cursor: pointer;
}



